<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8">
      <div class="card text-center">

        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h6 class="card-title">Life Cover</h6>
                  <p class="card-text text-muted">Pays out in the event of death from both natural and accidental causes

                  </p>
                  <ul class="font-weight-light text-left">
                    <li>Online, convenient, moneysaving insurance with complete peace of mind</li>
                    <li>From R100 000 to R6 million cover with no medical exams required</li>
                    <li>20% Cash Back every 10 years</li>
                    <li>Optional annual benefit increase of 5% to help keep pace with inflation</li>
                    <li>Pays you cash up to 12 months before death in the event of terminal illness</li>
                    <li>Cover is for your whole life</li>
                    <li>Covers natural and accidental death</li>
                    <li>Entry age of 20 to 65</li>
                    <li>Increase, decrease or cancel your cover any time without penalties</li>
                    <li>You, the life insured, or your spouse may make the monthly payments</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <router-outlet></router-outlet>

            </div>
          </div>
        </div>
        <div class="card-footer text-muted font-weight-light">
          COPYRIGHT Instant Life 2020. All rights reserved.
          Instant Life is an authorised financial services provider. Instant Life products are underwritten by Absa Life
          Limited and
          Guardrisk Life Limited.

        </div>
      </div>


    </div>

    <div class="col-sm-2">

    </div>
  </div>
</div>